{% extends 'myapp/base.html' %}

{% block content %}
    <div class="rounded shadow shadow-black bg-white m-10">
         <h1 class="text-black font-bold">Lista de Editoriales</h1>
            <table class="">
                <tr>
                    <th>Nombre</th>
                </tr>
                {% for editorial in editoriales %}
                <tr>
                    <td>{{ editorial.nombre }}</td>
                    <!-- Agrega más celdas de datos si tu modelo Editorial tiene más campos -->
                </tr>
                {% endfor %}
            </table>
    </div>
{% endblock %}
