{% extends 'myapp/base.html' %}

{% block libreria_el_poeta %}{% endblock %}
{% block descripcion %}{% endblock %}

{% block warehouses %}
    <div class="mt-16"><h1 class="text-white font-bold text-left text-5xl mt-10" style="font-family: 'Dancing Script'">Bodegas</h1>
        <table class="rounded-xl shadow shadow-black bg-white m-4 z-10 table-striped w-auto">
            <tr>
                <th>Bodega</th>
            </tr>
            {% for info_bodega in info_bodega %}
            <tr class="border border-black h-8 bg-black">
                <td class="text-2xl border border-black"><a>{{ info_bodega.nombre }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
