* {
    box-sizing: border-box;
}

#logo-section:hover {
    box-shadow:  4px 7px 8px black;

}

li:hover {
    box-shadow:  4px 7px 8px black;
}

.table-striped tr:nth-child(odd) {
        background-color: white; /* Filas impares con fondo blanco */
}

.table-striped tr:nth-child(even) {
    background-color: #b3ecff; /* Filas pares con fondo celeste */
}



section #card {
    animation: reveal-right linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}






@keyframes reveal-right {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}